header {
    color: white !important;
    background: #229138;
    padding: 14px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: white !important;
    margin-bottom: 5px;
}

header a {
    text-decoration: none;
    color: white !important;
}
header .btn-crearMarcador {
    float: right;
    padding: 10px;
    background: white;
    color: black !important;
    font-size: 0.9em !important;
}
.main,
footer {
    padding: 14px;
}

footer {
    text-align: center;
}