<h1>{{titleSection}}</h1>
<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Titulo:</label>
        <input type="text" id="title" name="title" #title="ngModel" [(ngModel)]="favorito.title" required />
        <span *ngIf="title.touched && !title.valid">El título no es correcto</span>
    </div>
    <div>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" #description="ngModel" [(ngModel)]="favorito.description" required></textarea>
        <span *ngIf="description.touched && !description.valid">Introduce una descripción</span>
    </div>
    <div>
        <label for="url">Url:</label>
        <input type="email" id="url" name="url" #url="ngModel" [(ngModel)]="favorito.url" required/>
        <span *ngIf="url.touched && !url.valid">La URL no es correcta</span>
    </div>
    <input type="submit" value="{{titleSection}}">
</form>